
.addQuestion__questionHeader {
    display: flex;
}

.addQuestion__questionWrapper {
    background-color: #ececec;
    border-radius: 10px;
    padding: 1rem;
}

.addQuestion__list-element {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem;
}


input {
    width: 100%;
}
