
.addQuestion__questionHeader {
    display: flex;
}

.addQuestion__questionWrapper {
    border-radius: 10px;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
}

.addQuestion__questionWrapper input {
    font-size: 1.6em;
    padding: 0.3em;
    width: 100%;
}

.addQuestion__topbar {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em 0.5em 0.5em;

    align-items: flex-end;
}

.addQuestion__topbar_q-number {
    background-color: var(--color-ezgreen);
    color: white;
    font-size: 1.6em;
    padding: 0.2em 1.5em;
    border-radius: 99em;
}

.addQuestion__questionBox {
    border: 5px solid var(--color-ezgreen);
    padding: 3em;
    border-radius: 3em;
}

.addQuestion__questionBox p {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.2em;
    color: var(--color-text);
}

.addQuestion__topbar_q-type {
    color: var(--color-text);
    font-size: 1em;
    border: 2px solid #d7d7d7;
    border-radius: 99em;
    font-weight: 500;
    position: relative;
    padding: 0.3em 0.4em 0.3em 1.3em;
    display: flex;
    flex-direction: column;
}

.addQuestion__topbar_q-type option {
    padding: 0.2em;
}

.addQuestion__topbar_q-type select {
    appearance: none;
    border: none;
    background: none;
    padding-right: 1.5em;
    cursor: pointer;
}

.addQuestion__topbar_q-type select:focus-visible {
    outline: none;
}

.addQuestion__topbar_q-type_arrow {
    position: absolute;
    top: 7px;
    right: 11px;
    cursor: pointer;
    pointer-events: none;
}


.addQuestion__list-element {
    display: flex;
    flex-direction: column;
}


label {

}

.addQuestion__questionInput {
margin-bottom: 2em;
}

input {
    width: 100%;
}

.addQuestion__add-q_button {
    background-color: var(--color-ezgreen);
    color: white;
    font-size: 1.6em;
    padding: 0.2em 1.5em;
    border-radius: 99em;
    border: 0;
    cursor: pointer;
}

.addQuestion__add-q_button:active {
    position: relative;
    top: 1px;
}

.addQuestion__add-q_button:disabled {
    background-color: #EDEDED;
    color: #ACACAC;
}


.addQuestion__rem-q_button {
    background-color: var(--color-ezpink);
    color: white;
    font-size: 1.6em;
    padding: 0.2em 1.5em;
    border-radius: 99em;
    border: 0;
    cursor: pointer;
}

.addQuestion__rem-q_button:active {
    position: relative;
    top: 1px;
}

.addQuestion__rem-q_button:disabled {
    background-color: #EDEDED;
    color: #ACACAC;
}

.addQuestion__bottom-bar {
    margin-top: 0.5em;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding-right: 2em;
}

@media only screen
    /*and (min-device-width : 320px)*/
and (max-width: 600px) {
    .addQuestion__topbar {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin: 0 0.5em 0.5em 0.5em;

    }
}
