.Header {
    background-color: var(--color-ezgreen);
    width: 100%;
    align-items: center;
}

.Header__wrapper {
    display: flex;
    width: 800px;
    padding:1.6em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}